/* Spacing Fixed Value */
$space-4: 0.25rem;
$space-8: 0.5rem;
$space-12: 0.75rem;
$space-16: 1rem;
$space-20: 1.25rem;
$space-24: 1.5rem;
$space-28: 1.75rem;
$space-32: 2rem;
$space-36: 2.25rem;
$space-40: 2.5rem;
$space-44: 2.75rem;
$space-48: 3rem;
$space-52: 3.25rem;
$space-56: 3.5rem;
$space-60: 3.75rem;
$space-64: 4rem;
$space-72: 4.5rem;
$space-80: 5rem;
$space-88: 5.5rem;
$space-96: 6rem;
$space-104: 6.5rem;
$space-112: 7rem;
$space-128: 8rem;
$space-144: 9rem;
$space-160: 10rem;
$space-176: 11rem;
$space-192: 12rem;
$space-224: 14rem;
$space-256: 16rem;
$space-288: 18rem;
$space-320: 20rem;
$space-384: 24rem;
$space-448: 28rem;
$space-512: 32rem;
$space-576: 36rem;
$space-640: 40rem;
$space-704: 44rem;
$space-768: 48rem;
$space-832: 52rem;
$space-896: 56rem;
$space-960: 60rem;
$space-1024: 64rem;

/* Spacing Percentage Value */
$space-10-percent: 10%;
$space-20-percent: 20%;
$space-30-percent: 30%;
$space-40-percent: 40%;
$space-50-percent: 50%;
$space-60-percent: 60%;
$space-70-percent: 70%;
$space-80-percent: 80%;
$space-90-percent: 90%;
$space-100-percent: 100%;
